Desafios Entregues\Velocidade e Queda de Conexão\.vscode
Desafios Entregues\Desafio POO iPhone\.vscode
Desafios Entregues\Desafio abstrair bootcamp\.vscode
Desafios Entregues\BancoDigital\.vscode
.vscode\settings.json